<div class='register fadeInDown main-content'>
	<div class='container mt-3 white-background'>
		<h1 class='form__title'>CẬP NHẬT PHIẾU KHÁM CHỮA BỆNH</h1>
		<form method="POST" action="/dang-ky-kham-benh/{{register.register_id}}?_method=PUT" class='row g-3' id='register__form'>
			
				<div class='col-12 mb-3 form-group'>
				<label for='first-name' class='form-label'>Họ và tên đệm:</label>
				<input type='text' class='form-control' id='first-name' placeholder='Lê Ngọc' name="first-name" value='{{register.first-name}}'/>
				<span class='form-message'></span>
			</div>
			<div class='col-12 mb-3 form-group'>
				<label for='last-name' class='form-label'>Tên:</label>
				<input type='text' class='form-control' id='last-name' placeholder='Huỳnh' name="last-name" value='{{register.last-name}}'/>
				<span class='form-message'></span>
			</div>
			<div class='col-12 mb-3 form-group'>
				<label for='phone-number' class='form-label'>Số điện thoại:</label>
				<input type='text' class='form-control' id='phone-number' placeholder='0123456789' name='phone-number' value='{{register.phone-number}}'/>
				<span class='form-message'></span>
			</div>
			<div class='col-12 mb-3 form-group'>
				<label for='date-of-examination' class='form-label'>Ngày khám giờ:</label>
				<input type='datetime-local' class='form-control' id='date-of-examination' name='date-of-examination' value='{{register.date-of-examination}}'/>
				<span class='form-message'></span>
			</div>
			<div class='col-sm-12 col-12 col-md-3 mb-3'>
				<button type='submit' class='btn btn-primary col-sm-12 col-12 col-md-12'>LƯU LẠI</button>
			</div>
		</form>
	</div>
</div>

<script>
	var changeDateFormatterAttributed = selector => {
  var str = document.querySelector(selector).getAttribute('value')
  var date = new Date(str)
  d = date.getDate()
  m = date.getMonth() + 1
  y = date.getFullYear()
	h = date.getHours()
  min = date.getMinutes()
  if (m < 10) m = '0' + m
  if (d < 10) d = '0' + d
  document.querySelector(selector).setAttribute('value', `${y}-${m}-${d}T${h}:${min}`)
}

var insertSelectedToOption = selector => {
  var sel = document.querySelector(selector)
  var selValue = document.querySelector(selector).getAttribute('value')
  for (i = 0; i < sel.length; i++) {
    sel.selectedIndex = i
    if (sel.value === selValue) break
  }
}
	changeDateFormatterAttributed('#date-of-examination')
	insertSelectedToOption('#gender')
</script>